<p>Añadir comentario:</p>

<form method="post" action="/quizes/<%= quizid %>/comments/">
	<p><input type="test" id="comment" name="comment[texto]" value="" size="40"/></p>
	<br>
	<p><button type="submit" class="boton">Guardar</button>
</form>