<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8"><title>Preguntas</title>
  	
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' media='only screen and (min-width: 530px) and (min-device-width: 481px)' href='/stylesheets/wide.css' />
    <link rel='stylesheet' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
  </head>

  <body>
  	<div id="page-wrap">
  		<header class="main" id="h1">

        <% if ( !session.user ) { %>
            <span class="right">
              <button><a href="/login"><img src="/images/login.png" alt="Login" height="32" width="32"></a></button>
            </span>
        <% } else { %>
            <span class="right">
              <form method="POST" action="/login?_method=delete">
                <span class="rem"><%= session.user.username %>&nbsp;</span>
                <button type="submit" onclick="return confirm( '¿Cerrar la sesión?' );">
                  <img src="/images/logout.png" alt="Logout" height="32" width="32"></a>
                </button>
              </form>
            </span>
        <% } %>

  			<h2>Quiz<span>: El juego de las preguntas</span></h2>
  		</header>

  		<nav class="main" id="n1" role="navigation">
  			<span><a href="/">Inicio</a></span>
  		  <span><a href="/quizes">Preguntas</a></span>
        <span><a href="/author">Autor</a></span>
  		</nav>

  		<section class="main" id="s1">

        <% if ( errors.length ) { %>

          <span id="ErrorMsgs">
              <p>Corregir errores:</p>
              <% for( var i in errors ) { %>
                <p><span> <%= errors[ i ].message %> </span></p>
              <% } %>
          </span>

        <% } %>

        <div>
          <%- body %>
        </div>
  		
      </section>

  		<footer class="main" id="f1">
  			<a href="https://github.com/cstroyano/quitz.git" target="_blank">Repositorio GitHub</a>
  		</footer>
  	</div>
  </body>
</html>
