<p><%= respuesta %></p>
<br>
<p><img src="/images/<%= archivo %>" alt="" height="64" width="64"></p>
<br>

<% if ( respuesta === "Correcta" ) { %>
	<p><a href="/quizes">Otra pregunta</a></p>
<% } else { %>
	<p><a href="/quizes/<%= quiz.id %>">Inténtelo otra vez</a></p>
<% } %>
